.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 1000px;
    height: auto;
}

.box {
    position: absolute;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.pink {
    top: 100px;
    left: 100px;
    background-color: pink;
    transform: translate(400%, 100%);
}

.blue {
    top: 100px;
    right: 100px;
    background-color: blue;
    transform: translate(-400%, 100%);
}

.red {
    bottom: 100px;
    left: 100px;
    background-color: red;
    transform: translate(400%, 60%);
}

.yellow {
    bottom: 100px;
    right: 100px;
    background-color: yellow;
    transform: translate(-400%, 60%);
}

.pink, .blue, .red, .yellow {
    border: 4px solid white; /* Thêm viền trắng 4px cho tất cả các hộp */
    box-shadow: 0 0 0 1px black;
}